* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    margin: 1em auto;
}

.section-films {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    width: 95%;
    margin: auto;
    place-items: center;
    text-align: center;
}

img {
    height: 18em;
    cursor: pointer;
    transition: 0.25s;
    z-index: 0;
    border-radius: 0.2em;
}

img:hover {
    opacity: 0.8;
}

.fiche-film {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    height: 480px;
    width: 80%;
    border-radius: 0.4em;
    padding: 2em;
    flex-direction: column;
    gap: 2em;
    z-index: 1000;
}

.fiche-film.active {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    background-color: lightgray;
}