* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    margin: 1em auto;
}

.section-films {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    width: 95%;
    margin: auto;
}

img {
    height: 18em;
    cursor: pointer;
}

h3,
p {
    display: none;
}

.fiche-film {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(236, 236, 236);
    height: 480px;
    width: 80%;
    border-radius: 1em;

}

.fiche-film.active {
    display: block;
}